html,
body {
    height: 100%;
}

.apple
{
    position: absolute;
}
#butterfly {
    height: 100px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 100px;
    position: fixed;
    bottom: 40%;
    left: 40%;
}


.waterdrop {
    width: 10px;
}

#net {
    height: 200px;
    width: auto;
    position: absolute;

}

.apple {
    height: 25px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    height: 85%;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 100px;
    position: fixed;
    bottom: 20px;
    left: 20%;
    position: absolute;

}

#sun
{
    margin-top: 10%;
    padding-right: 100%;
    position: absolute;
}

#moon
{
    margin-top: 10%;
    padding-right: 100%;
    position: absolute;
}

#swamp31
{
    margin-top:0px;
    position: fixed;
    height: 25%;
    bottom:0px;
    right:40%;
    position:absolute;
}
#swamp32
{
    margin-top:0px;
    position: fixed;
    height: 25%;
    bottom:0px;
    right:40%;
    position:absolute;
}
#swamp33
{
    margin-top:0px;
    position: fixed;
    height: 40%;
    bottom:0px;
    right:40%;
    position:absolute;
}

#swamp1
{
    margin-top:0px;
    position:fixed;
    height:90%;
    bottom:0px;
    right:0%;
    position:absolute;
}

#swamp21
{
    
    position:fixed;
    height:100%;
    bottom:0px;
    right:40%;
    position:absolute;
}
#swamp22
{
    
    position:fixed;
    height:100%;
    bottom:0px;
    left:52%;
    position:absolute;
    top:-25%;
}

#shrek
{
    position:fixed;
    height:40%;
    bottom:0px;
    right:30%;
    position:absolute;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}


.buttons
{
    background-color: #4CAF50; 
    border: none;
    border-radius: 4px;
    color: rgb(212, 57, 57);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#hideButton:hover
{
    background-color: rgb(212, 57, 57);
    color: #4CAF50 ;
}

#showButton:hover
{
    background-color: rgb(212, 57, 57);
    color: #4CAF50 ;
}

#buttonId:active
{
    background-color: rgb(212, 57, 57);
    color: #4CAF50 ;
}

#chargeButton:active
{
    background-color: rgb(212, 57, 57);
    color: #4CAF50 ;
}
