html,
body {
    height: 100%;
}


#butterfly {
    height: 100px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 100px;
    position: fixed;
    bottom: 20%;
    left: 40%;
}


.waterdrop {
    width: 10px;
}

#net {
    height: 200px;
    width: auto;
    position: absolute;

}

.apple {
    height: 25px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    height: 85%;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 100px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}

#sun
{
    margin-top: 10%;
    padding-right: 100%;
    position: absolute;
}

#moon
{
    margin-top: 10%;
    padding-right: 100%;
    position: absolute;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}

.buttons
{
    background-color: #4CAF50; 
    border: none;
    border-radius: 4px;
    color: rgb(212, 57, 57);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
